#carousel {
  margin-top: 40px;
}
#banner {
  display: flex;
  justify-content: center;
}
img.temp {
  background-color: rgb(211, 224, 224);
  width: 100%;
  height: 400px;
}
section#articles {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  width: 75%;
}
.river-details {
  text-align: left;
}

.river-options-card {
  width: 350px;
}
#body-content {
  display: flex;
  justify-content: center;
}
.banner-title {
  font-family: Coda, Helvetica, sans-serif;
  font-size: 4em;
  color: #6b2737;
  margin-top: 10px;
}
.Adventure-tana-river {
  font-size: 2em;
}
.Adventure-nenana-river {
  font-size: 2em;
}
.Adventure-upper-nenana-river {
  font-size: 2em;
}
