#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section,
section {
  text-align: center;
}

#background {
  height: 725px;
}

body,
.book,
.join,
.msg {
  background-color: #a3bbad;
}
body {
  background-color: white;
  font-family: Coda, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
#background {
  background-color: #a3bbad;
  margin-bottom: 100px;
}

footer,
header {
  background-color: rgb(36, 35, 35);
}
nav a:hover,
.book:hover,
.join:hover,
footer a:hover {
  background-color: #05668d;
  color: #d9c2a3;
}
nav a,
h4,
.home-title,
.book,
.join,
.msg h2,
.msg p {
  color: black;
}
.home-title {
  font-family: Coda, Helvetica, sans-serif;
  font-size: 4em;
  color: #6b2737;
  margin-top: 10px;
}
.book,
.join {
  background-color: #d9c2a3;
  color: #6b2737;
  text-decoration: none;
  font-size: 32px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.card-img {
  border: 10px #6b2737 solid;
  height: 250px;
}
main section img {
  box-sizing: border-box;
}
.msg h2 {
  background-color: #6b2737;
  line-height: 1.5em;
  color: white;
  padding-bottom: 35px;
}
.msg p {
  font-size: 2em;
  color: #032634;
  padding-top: 20px;
}
nav a,
footer h3,
footer a {
  color: lightgray;
}
.icon,
.logo {
  width: 80px;
  padding-top: 10px;
}
#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg h4 {
  color: white;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-img {
  width: 100%;
}
nav a,
.book,
.join,
footer a {
  text-decoration: none;
}

.social img {
  padding-top: 15px;
}
footer,
h3 a:hover {
  text-decoration: underline;
}
footer {
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.card-img,
.mountains {
  width: 100%;
}
.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
  padding-bottom: 70px;
}
.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
  padding-bottom: 70px;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
  padding-bottom: 70px;
}
#background {
  grid-column: 1/11;
  grid-row: 4/9;
}
.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}
.msg {
  background-color: #6f7364;
  grid-column: 6/10;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
  border: 10px solid #d9c2a3;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 2000px 0;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
